
version: '3.9'
services:
  api:
    build: .
    ports:
      - "4000:4000"
    env_file: .env
    depends_on:
      - postgres
      - redis

  worker:
    build: .
    command: node src/worker.js
    env_file: .env
    depends_on:
      - redis
      - postgres

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: collab
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"